{% extends 'base.html'%} {% load static %} {% block content %}
<div class="col-12">
    <div class="tournament">
        <p class="tour-title"></p>
        <div class="tour-button-div">
            <button class="btn btn-outline-primary btn-lg tour-button">Tournament News</button>
        </div>
    </div>
</div>
<div class="col-12 video">
    <div class="wrapper">
        <iframe src="https://www.youtube-nocookie.com/embed/hqvGOPB0KmQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}